.main {
}

.col_ {
    float: left;
    width: 50%;
    padding: 5px;
}

.donout {
    float: left;
    width: 50%;
    height: 30%;
    padding: 5px;
}

.result{
    border: 1px solid #ff0000;   
    float: left;
    height: 380.75px;
    width: 634.6px;
}

.display002{
    border: 1px solid #2200ff;
    float: left;
    width: 50%;
}

.displayNumber{
    color: black;
    text-align: center;
}

.displayText{
    color: black;
    text-align: center;
}

/*.avgBy{
    display: block;
    margin-left: 0;
    margin-right: auto;
} */