{% extends "layout.html" %}
{% block content %}
  <form method = "POST">
    <h3> Add new beers </h3>
    Brewer of beer <br>
    <input type="text" name = "brewer" placeholder="string" /><br>
    Name of beer<br>
    <input type="text" name = "name" placeholder="string" /><br>
    Alcohol percent of beer <br>
    <input type="text" name = "alc" placeholder="float" /><br>
    Country of beer <br>
    <input type="text" name = "country" placeholder="string" /><br>
    Rating of beer <br>
    <input name = "rating" placeholder="int"></input><br><br>
    <input type = "submit" value = "submit" placeholder="submit"/><br>
  </form>
{% endblock content %}