{% extends "layout.html" %}
{% block content %}
<!-- County and alcohol range -->
<div class="filterSystem">
  <form method = "POST" class = "filterSystem1">
    <label for="countries">Choose a country:</label>
    <select id="countries" name="countries" placeholder="countries">
    {% for n in country_table %}
      <option value="{{ n[0] }}">{{ n[1] }}</option>
    {% endfor %}
    </select>
    <p>
      <label for="alcPer">and an alcohol range:</label> <br>
      <input type="text" name="alcPer" id="alcPer" readonly style="font-weight:bold; width: 100px;">
    </p>
    
    <div id="slider-range" style="width: 200px;"></div>
    <input type="submit" value = "submit" placeholder="submit">
  </form>

  <!-- Search for breweries -->
  <div class="filterSystem2">
    <form method = "POST">
      <label for="breweries">Search for breweries:</label>
      <input id="breweries" type="text" name = "breweries" placeholder="string" />
      <input type="submit" value = "submit" placeholder="submit">
    </form>

    <!-- Search for beers -->
    <form method = "POST">
      <label for="beerName">Search for beer names:</label>
      <input id="beerName" type="text" name = "beerName" placeholder="string" />
      <input type="submit" value = "submit" placeholder="submit">
    </form>
  </div>
</div>

{% for n in Beer %}
<div class="beerContainer">
        <img src="/static/assets/{{ n[0] }}.png" alt="Brewery logo" width="20px" height="20px"> -->
        <p>
          <!-- brewer  --> {{ n[0] }} 
          <!-- name -->    {{ n[1] }} 
          <!-- alc -->     {{ n[2] }} 
          <!-- county -->  {{ n[3] }} 
          <!-- rating -->  {{ n[4] }} 
        </p>
</div>
{% endfor %}
{% endblock content %}