{% extends "layout.html" %}
{% block content %}
<form method = "POST">
  <label for="countries">Choose a country:</label>
  <select id="countries" name="countries" placeholder="countries">
  {% for n in country_table %}
    <option value="{{ n[0] }}">{{ n[1] }}</option>
  {% endfor %}
  </select>
  <input type="submit" value = "submit" placeholder="submit">
</form>

{% for n in Beer %}
<div >
        <img src="/static/assets/{{ n[0] }}.png" alt="logotitle" width="20px" height="20px">
        <p>
          <!-- brewer  --> {{ n[0] }} 
          <!-- name --> {{ n[1] }} 
          <!-- alc --> {{ n[2] }} 
          <!-- county --> {{ n[3] }} 
          <!-- rating --> {{ n[4] }} 
          <!-- price --> {{ n[5] }} 
        </p>
</div>
{% endfor %}
{% endblock content %}