{% extends "layout.html" %}
{% block content %}
<!-- County and alcohol range -->
<div class="filterSystem">
  <form method="POST" class="filterSystem1">
    <div class="form-group">
      <label for="countries">Choose a country:</label>
      <select id="countries" name="countries" placeholder="countries">
        <option value="All">All</option>
        {% for n in country_table %}
        <option value="{{ n[0] }}">{{ n[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="alcPer">and an alcohol range:</label>
      <input type="text" name="alcPer" id="alcPer" readonly style="font-weight:bold; width: 100px;">
    </div>

    <div id="slider-range" class="slider-range" style="width: 200px;"></div> <br>
    <div class="slider-range" style="width: 100px;"><input style="width: 100px;" " type="submit" value="submit" placeholder="submit"></div>
  </form>

  <!-- Search for breweries -->
  <div class="filterSystem2">
    <form method="POST">
      <div class="form-group">
        <label for="breweries">Search for breweries:</label> <br>
        <input id="breweries" type="text" name="breweries" placeholder="string" />
        <input type="submit" value="submit" placeholder="submit">
      </div>
    </form>

    <!-- Search for beers -->
    <form method="POST">
      <div class="form-group">
        <label for="beerName">Search for beer names:</label>
        <input id="beerName" type="text" name="beerName" placeholder="string" />
        <input type="submit" value="submit" placeholder="submit">
      </div>
    </form>
  </div>
</div>

{% for n in Beer %}
<div class="beerContainer">
  <div class="flag-logo-box">
    <img src="/static/assets/flags/{{ n[3] }}.png" alt="Flag" width="150px" height="100px">
    <img src="/static/assets/{{ n[0] }}.png" alt="Brewery logo" width="100px" height="100px">
  </div>
  <div class="info-box">
    <div class="brewer-box">
      <span class="label">Brewer:</span> <span class="value">{{ n[0] }}</span>
    </div>
    <div class="name-box">
      <span class="label">Name:</span> <span class="value">{{ n[1] }}</span>
    </div>
    <div class="alc-box">
      <span class="label">Alc:</span> <span class="value">{{ n[2] }}</span>
    </div>
    <div class="country-box">
      <span class="label">Country:</span> <span class="value">{{ n[3] }}</span>
    </div>
    <div class="rating-box">
      <span class="label">Rating:</span> <span class="value rating-value">{{ n[4] }}</span>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endblock content %}
