{% extends "layout.html" %}
{% block content %}
  <div class = "main">
    <div class = "col_">   
      <img src="static/plots/avgByCoun.png" class="avgBy" width="100%" height="80%" alt="">
    </div>
    <div class = "col_">  
      <img src="static/plots/avgByBrew.png" class="avgBy" width="100%" height="80%" alt="">
    </div>
    <img src="static/plots/donoutChart.png" class="donout" width="100%" height="80%" alt="">
  </div>
  <div class="result"> 
    <div class="display002"> 
      <h1 class="displayNumber"> 17 </h1> 
      <p class="displayText"> Diffrent breweries </p>
    </div>
    <div class="display002"> 
      number
    </div>
  </div>
{% endblock content %}