{% extends "layout.html" %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 15,
      values: [ 0, 15 ],
      slide: function( event, ui ) {
        $( "#amount" ).val(ui.values[ 0 ] + "% - " + ui.values[ 1 ] + "%" );
      }
    });
    $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
      "% - " + $( "#slider-range" ).slider( "values", 1 ) + "%" );
  } );
  </script>
</head>
<body>
 
<p>
  <label for="amount">Alcohol range:</label> <br>
  <input type="text" id="amount" readonly style="font-weight:bold; width: 100px;">
</p>
 
<div id="slider-range" style="width: 200px;"></div>
 
 
</body>
</html>


{% endblock content %}